<div class="main-content">

    <div data-ng-swipe-left="vm.goHome()" data-ng-include="'app/layouts/Header.html'"></div>
    <!--include header-->

    <div data-ng-swipe-left="vm.goHome()" class="news-logo">
        <img src="assets/i/news-details-icon.jpg" alt="logo">
    </div>
    <!--End .logo-->

    <section class="section">
        <h5>TOP VIDEO STORIES</h5>

        <div class="video-holder">
            <div class="scroller">
                <div class="video" data-ng-repeat="video in vm.newsDetails.topVideo">
                    <img src="assets/i/video-placeholder.jpg" data-ng-src="{{video.img}}" alt="video"/>
                    <span class="title">{{video.name}}</span>
                </div>

            </div>
            <!--End video-holder-->
        </div>

        <div class="see-all">
            <a href="javascript:">SEE ALL VIDEO STORIES</a>
        </div>
        <!--End see-all-->

    </section>
    <!--End section-->

    <section data-ng-swipe-left="vm.goHome()" class="section">
        <h5>TOP NEWS</h5>

        <ul class="top-news">
            <li  data-ng-repeat="news in vm.newsDetails.topNews">
                <a href="#/storyDetails">
                    <img src="assets/i/top-news-icon.jpg" data-ng-src="{{news.img}}" alt="icon"/>
                    <div class="desc" data-ng-bind-html="vm.getTrustedHtml(news.desc)">Description</div>
                </a>
            </li>
        </ul>

        <div class="see-all">
            <a href="javascript:">SEE ALL NEWS STORIES</a>
        </div>
        <!--End see-all-->

    </section>
    <!--End section-->

    <div data-ng-swipe-left="vm.goHome()" data-ng-include="'app/layouts/Footer.html'"></div>
    <!--include footer-->

</div>
