<footer>
    <div class="social-links">
        <a href="javascript:" class="fb">Find us on<span>Facebook</span><span class="line"></span></a>
        <a href="javascript:" class="twitter">Follow us on<span>Twitter</span></a>
    </div>
    <!--End social links-->

    <div class="footer-links">
        <a href="javascript:">About Spark</a>
        <a href="javascript:">Terms & Conditions</a>
        <a href="#/faq">FAQ's</a>
        <a href="javascript:">Store</a>
    </div>
    <!--End footer links-->

    <div class="copyrights">&copy;2015 Spark.com All Rights Reserved</div>
    <!--End copyrights-->
</footer>
<!--End footer-->